<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>zip</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
		<string>ja</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save pictures to album.</string>
	<key>UIAppFonts</key>
	<array>
		<string>/Frameworks/InkCore.framework/Splatfont 1 v1.008.otf</string>
		<string>/Frameworks/InkCore.framework/Splatfont 2 v1.009.otf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>ListBackgroundColor</string>
		<key>UIToolbar</key>
		<dict>
			<key>UIImageName</key>
			<string></string>
		</dict>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
                    <string>Black60x60</string>
                    <string>Black76x76</string>
                    <string>Black83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White60x60</string>
                    <string>White76x76</string>
                    <string>White83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Salmon Run</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Salmon_Run60x60</string>
                    <string>Salmon_Run76x76</string>
                    <string>Salmon_Run83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Deepsea Metro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Deepsea_Metro60x60</string>
                    <string>Deepsea_Metro76x76</string>
                    <string>Deepsea_Metro83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Toni Kensa</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Toni_Kensa60x60</string>
                    <string>Toni_Kensa76x76</string>
                    <string>Toni_Kensa83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Chaos</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Chaos60x60</string>
                    <string>Chaos76x76</string>
                    <string>Chaos83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Order</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Order60x60</string>
                    <string>Order76x76</string>
                    <string>Order83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Squid Squad Band</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Squid_Squad_Band60x60</string>
                    <string>Squid_Squad_Band76x76</string>
                    <string>Squid_Squad_Band83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Wet Floor Band</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Wet_Floor_Band60x60</string>
                    <string>Wet_Floor_Band76x76</string>
                    <string>Wet_Floor_Band83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Ink You Up</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ink_You_Up60x60</string>
                    <string>Ink_You_Up76x76</string>
                    <string>Ink_You_Up83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
			<key>Research Lab</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Research_Lab60x60</string>
                    <string>Research_Lab76x76</string>
                    <string>Research_Lab83.5x83.5</string>
				</array>
                <key>UIPrerenderedIcon</key>
                <false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
